@page "/databases"

<div>
    <JsEditor Mode="sql"
              CodeContent="@content"
              Style="height:500px; width:100%;"
              ContentChanged="@OnContentChanged"
              SelectedContentChanged="@OnSelectedContentChanged" />
    <MudPaper Class="pa-4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ExecuteFunction" Disabled="@loading">
            Execute
        </MudButton>
        <DynamicTable JsonString="@ConsoleText"></DynamicTable>
    </MudPaper>
</div>